# Files to avoid
*.jar
*.war
*.ear
*.iml
*~
**/*~
**/*.class
**/.DS_Store

# Specific files/dir to avoid 
LICENSE.txt
.project
.classpath
.settings
doc/
build/
.idea/
target/
out/


# gradle
.gradle/
gradlew
gradlew.bat
gradle/
gen/
